div.live2d-widget-container {
	bottom: -35px;

	+tablet-mobile() {
		bottom: -55px !important;
	}
}

.header-inner {
	background: url(/images/bears-desktop.png) center;
	background-size: cover;

	+tablet-mobile() {
		background: url(/images/bears-mobile.png) center;
		background-size: cover;
	}
}

.site-brand-container {
	background: rgba(85, 85, 85, .5);
}

.menu-item-active a {
	background: rgba(245, 245, 245, .7);
}
